<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link rel="stylesheet" href="./css/normalize.css">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"> -->
	<link rel="stylesheet" href="./css/bootstrap-grid.css">
	<link rel="stylesheet" href="./scss/main.css">
	<link rel="stylesheet" href="./css/signup.css">


	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

	<div class="container-fluid">

		<!-- ************************************ h e a d e r  ************************************ -->

		<header  class="header row">

			<!-- navigation for med and up  -->
			<nav class="nav_large nav col  flex-row justify-content-between align-items-center d-xs-none d-sm-none d-md-none d-lg-flex d-xl-flex">

				<a href="/" class="header__title">
					<h1 class="header__title--text">{{ title }}</h1>
				</a>

				<ul class="nav__links d-flex justify-content-end">
					<li v-for="nav_link in nav_links" class="nav__link nav__link--hover"><a :href="nav_link.link">{{ nav_link.name }}</a></li>
					<li class="nav__link nav__link--disabled"><a href="/" disabled>Journal</a></li>
				</ul>
			</nav>

			<!-- navigation menu for MOBILE-->
			<div id="nav" class=" col nav_mobile d-xs-flex d-sm-flex d-md-flex d-lg-none d-xl-none">
				<i v-on:click="isHidden = !isHidden" class="fa fa-bars"></i>
				<transition name="slide-fade">
					<!--  inside nav menu -->
					<aside v-if="isHidden"  class="nav_mobile__area">
						<div class="d-flex flex-column justify-content-between align-items-start">

							<!-- nav exit button -->
							<div class="nav_mobile__area__exit_button">
								<i v-on:click="isHidden = !isHidden" class="fas fa-times fa-2x"></i>
							</div>

							<!-- nav links -->
							<div id="navLinks" class="nav_mobile__area__links d-flex align-items-start justify-content-between ">
								<ul class="nav_mobile__links d-flex flex-column align-items-center justify-content-center">
									<li  v-for="nav_link in nav_links" class="nav_mobile__link nav_mobile__link--hover"><a :href="nav_link.link">{{ nav_link.name }}</a></li>
									<li class="nav_mobile__link nav_mobile__link--disabled"><a href="#journal" disabled>Journal</a></li>
								</ul>
							</div>
						</div>
					</aside>
				</transition>
			</div>

		</header>

		<main id="main" class="main row d-flex align-items-center">


			<!-- sign up cover image  -->

			<section class="col-12 col-md-6 signup__image d-flex flex-column align-items-center justify-content-center">
				<img src="./img/ep1.jpg" alt="">
			</section>

			<!-- sign up description text and form  -->

			<section class="col-12 col-md-6 signup__description d-flex flex-column align-items-center justify-content-start">

				<article class="signup__description__text_area">
					<h2 class="signup__description__text_area--title">Download our EP</h2>
					<p class="signup__description__text_area--text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iusto sapiente rem at aliquid dolorem officia quasi a illo, fugit pariatur error accusantium, harum, inventore cumque! Placeat odit molestias, sit.
					</p>

					<div id="signup" class="col">
						<!-- Begin Mailchimp Signup Form -->
						<!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css"> -->
						<style type="text/css">

						/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
						We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
						</style>
						<div id="mc_embed_signup">
							<form action="https://thenoisewhoruns.us18.list-manage.com/subscribe/post?u=e33150d9edb4aff16116921ac&amp;id=f46ae28c86" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

								<label for="mce-EMAIL" class="mce-EMAIL">Email Address</label>

								<div id="mc_embed_signup_scroll">
									<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="" required="required">

									<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
									<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e33150d9edb4aff16116921ac_f46ae28c86" tabindex="-1" value=""></div>
									<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
								</div>
							</form>
						</div>

						<!--End mc_embed_signup-->
					</div>
				</article>






			</section>





		</main>

		<!-- ************************************ f o o t e r ************************************ -->
		<footer id="footer" class="footer row d-flex align-items-center justify-content-around">

			<div class="col">
				<a class="footer__link--brand" href="/">
					<h2 class="footer__title"> {{ title }} </h2>
				</a>
			</div>

			<ul class="col footer__social row d-flex justify-content-end ">
				<li v-for="contact in contacts" class="footer__link">
					<a :href="contact.link">
						<img :src="contact.icon" alt="" class="footer__link--icon" />
					</a>
				</li>
			</ul>

		</footer>

	</div>

	<!-- js scripts and libraires -->
	<!-- <script
	src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="https://kit.fontawesome.com/ad28620b89.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
	<script src="./js/siema.min.js"></script>-->
	<script src="./js/vue.js"></script>
	<script src="./js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167461623-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-167461623-1');
</script> -->

</body>
</html>
